.App {
  text-align: center;
}

.App-header {
  background-color: white;
  background-size:cover;
  height: 1080px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 5em;
  margin-bottom: 3em;
  color: rgb(117, 170, 81);
}

.form-label {
  color: #555555;
}

.input-group {
	margin: 20px 0px;
}

.btn {
  cursor: pointer;
}